* {
    margin: 0;
    padding: 0;
    font-family: 'poppins';
}

body {
    background-color: whitesmoke;
}


header{
    position: fixed;
    width: 100%;
    top: 0;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: black;
}

.nav-bar a{
    text-decoration: none;
}

nav ul{
    display: flex;
}

nav ul li{
    list-style-type: none;
    margin: 0 10px;
}

nav ul li a{
    color: rgb(210, 210, 210);
}

.nav-bar .icons{
    color: white;
    cursor:pointer;
    font-size: 20px;
}

.nav-bar .icons a i{
    margin: 0 2px;
    padding: 5px;
    color: #fff;
}

.nav-bar .icons i:hover{
    background-color: #424242;
    border-radius: 10px;
    transition: 1.5s;
}

nav ul li a:hover{    
    color: white;
    border-radius: 5px;
    transition: 0.5s;
}

#personal-data{
    background-color: #212121;
    padding: 40px 0;
    display: flex;
    align-items: center;
    margin-top: 30px;
}

#personal-data .avatar-img img{
    width: 200px;
    border-radius: 100px;
}

#personal-data .avatar-img{
    width: 25%;
    text-align: center;
}

#personal-data .my-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 75%;
}

#personal-data .my-info p{
    color: white;
    width: 100%;
}

#personal-data .my-info #apresentation{
    font-weight: 600;
}

#personal-data .my-info h2{
    color: white;
    margin: 20px 0;
    font-size: 45px;
}

#personal-data .my-info h2:hover{
    color: #8571e5;
    transition: 0.5s;
}

.skills-title{
    text-align: center;
    margin-top: 30px;
}

.skills-title h1{
    color: #212121;
}

#personal-skills{
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}

#personal-skills .skills-box{
    background-color: white;
    border-radius: 10px;
    width: 30%;
}

#personal-skills .skills-title h2{
    color: #212121;
    font-size: 25px;
}

#personal-skills .skills-box img{
    margin-top: 25px;
    width: 50px;
}

#personal-skills .skills-box{
    text-align: center;
}

#personal-skills .skills-box ul{
    padding: 30px 30%;
    list-style-type: none;
}

#personal-skills .skills-box ul li{
    text-align: left;
    color: #424242;
}

#personal-skills .skills-box ul li i{
    margin-right: 10px;
}

#personal-skills .skills-box ul li:hover{
    color: black;
}

#projects{
    background-color: white;
    margin-top: 100px;
}

#projects .projects-title{
    margin: 50px;
    text-align: center;
}

#projects .projects-title h1{
    padding-top: 30px;
    color: #212121;
}

#projects .github-projects{
    text-align: center;
}

#projects table{
    width: 100px;
}

#projects th {
    background-color: #000;
    color: white;
    text-align: left;
}

#projects table, th, td{
    border-collapse: collapse;
}

#projects table, tbody tr td a{
    color: black;
    text-decoration: none;
}

#projects table, tbody tr td a:hover{
    color: #212121;
}

#projects th, td{
    padding: 5px;
    border-collapse: collapse;
} 

#projects tr:nth-child(even) {
    background-color: white;
}

#projects .center {
    margin-left: auto;
    margin-right: auto;
}

footer{
    margin-top: 100px;
    height: 300px;
    background-color: #212121;
}

footer .footer-text{
    padding-top: 30px;
}

footer .footer-text p{
    color: white;
    text-align: center;
    font-size: 16px;
}

footer .contact-links{
    text-align: center;
}

footer .contact-links a{
    color: white;
}

footer .contact-links i{
    color: white;
    font-size: 20px;
    padding-top: 20px;
}

footer .name-title{
    padding-top: 165px;
    text-align: center;
}

footer .name-title i{
    color: whitesmoke;
}

footer .name-title span{
    color: whitesmoke;
}